<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sky Test</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="bower_components/awesome-rating/dist/awesomeRating.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="bower_components/awesome-rating/dist/awesomeRating.angular.min.js"></script>
    <script src="Features/rateContent/module.js"></script>
    <script src="Features/rateContent/rateContentController.js"></script>
    <script src="Features/contentLeaderBoard/module.js"></script>
    <script src="Features/contentLeaderBoard/contentLeaderBoardController.js"></script>
    <script src="App.js"></script>
    <script src="appController.js"></script>
    <script src="resources/plugins/x2js/xml2json.js"></script>
    
    <style>
        .navbar {
            margin-bottom: 50px;
            border-radius: 0;
        }
        /* Remove the jumbotron's default bottom margin */
        
        .jumbotron {
            margin-bottom: 0;
            background-color: black;
        }
        /* Add a gray background color and some padding to the footer */
        
        footer {
            background-color: #1D1D1D;
            padding: 25px;
        }
    </style>
</head>

<body ng-app="skyTest" ng-controller="appController" style="background: grey">

    <div class="jumbotron" style="padding-top: 0px !important; padding-bottom: 14px !important;">
        <div class="container text-center">

            <h3 style="color: white">Sotware Engineering Academy - Test</h3>
        </div>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://www.sky.com/"><img src="resources/images/Sky_Logo_seit_Dezember_2015.png" style="height: 38px !important; margin-top: -8px !important;"></a>
                <input id="fileInput" type="file" style="visibility: hidden" />
            </div>


            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li id="rateContent" ng-click="toggleActive()"><a ui-sref="rateContent">Rate our content</a></li>
                    <li id="leaderBoard" ng-click="toggleLeaderActive()"><a ui-sref="leaderBoard">Content Leaderboard</a></li>
                    <li><a ng-click=loadPrompt()>Upload</a></li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container">
        <div ui-view></div>
    </div>
    <br>

    <br>
    <br>
    <footer class="container-fluid text-center" style="color: white">
        <p>AUTHOR: LOUIS THOMPSON</p>
    </footer>

</body>

</html>